In [1]:
email=input()
first,second=email.split('@')
domain,end=second.split('.')
domain

pranvi@gmail.com

'gmail'

In [2]:
lst=list(map(str,input().split(',')))
','.join(sorted(lst))

happy,birthday,to,me

'birthday,happy,me,to'

# SETS:
___DECLARATION___

In [17]:
a = {1, 2, 2, 3, 4} 
b = {3, 3, 4, 4, 5}
print(a)

{1, 2, 3, 4}

INTERSECTION OF TWO SETS:

In [18]:
print(a.intersection(b) )

{3, 4}

UNION OF TWO SETS:

In [19]:
print(a.union(b))

{1, 2, 3, 4, 5}

DIFFERENCE OF TWO SETS:

In [20]:
print( a.difference(b) )

{1, 2}

SYMMETRIC DIFFERENCE OF TWO SETS:

In [21]:
print( a.symmetric_difference(b) )

{1, 2, 5}

SUBSETS AND SUPERSETS:

In [22]:
c = {1, 2} 
print(a.issuperset(c))
print( c.issubset(a) )

True
True

DISJOINT SETS:

In [23]:
d = {5, 6} 
print(a.isdisjoint(d) )

True

OPERATIONS ON A SINGLE SET:

In [24]:
s = {1,2,3} 
s.add(4)
print(s)
s.update({1,5,7})
s.remove(2) 
print(s)

{1, 2, 3, 4}
{1, 3, 4, 5, 7}

In [3]:
lst=set(map(int,input().split()))
set1=set(range(1, max(lst)+1))
print(set1.difference(lst))

4 5 6
{1, 2, 3}

In [4]:
lst=list(map(int,input().split()))
newlst=list(dict.fromkeys(lst))
print(newlst)

4 4 1 7 2 1 7
[4, 1, 7, 2]